*{
  background-color: black;
  font-family: Verdana;
  text-align: center;
}
h1 {
  color: white;
}

p{
  font-size: 21px;
  color: gray;
}

#top{
  font-weight: normal;
  font-size: 50px;
}

#subheader{
  font-weight: 300;
  font-size: 42px;
}

#download a{
  color: aquamarine;
  font-size: 16px;
  text-decoration: underline;
}


#copyright{
  text-align: right
}
